body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #031321;
    font-family: consolas;

}

.banner
{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(home.jpg);
    background-size: cover;
    background-position: center;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
    color: #FFFFFF;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

a
{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 15px;
    overflow: hidden;
    background: transparent;
    transition: 0.2s;
}

a:hover
{
    color: #255784;
    background: transparent;
    border-radius:50px;
    transition: 0.5s;
}
button
{
    border-radius: 50px;
    background: transparent;
    box-shadow:  50px 50px 100px #01080d,
             -50px -50px 100px #051e35;
}