<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>hepohepo</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">

</head>
<body>
    <div class="banner">
        <div class="navbar">

        <div class="content">
                <h1 style="color:white">WELCOME</h1>
                <p style="color:white">SignUp Or LogIn<br/>HERE</p>
                <div>
                <button><a href="/signup" style="color:white"><span></span>SignUp</a></button>
                <button><a href="/login" style="color:white"><span></span>Login</a></button>
                </div>
            </div>
    </div>
</body>
</html>