<h3> SignUp PAGE </h3>


<form method="POST" action="">
    {% csrf_token %}
    {{form.username.label}}
    {{form.username}}
    <br/>
    <br/>
    {{form.email.label}}
    {{form.email}}
    <br/>
    <br/>
    {{form.password1.label}}
    {{form.password1}}
    <br/>
    <br/>
    {{form.password2.label}}
    {{form.password2}}
    <br/>
    <br/>
    <input type="submit" name="Create User">
    <br/>
    <br/>
    {{ form.errors }}
    <p>Already have an account? <a href="/login">Login</a> </p>
</form>

